html {
  height: 100%;
}
body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Monoton', cursive;
}

/* Header Styles */
header {
  background-color: #2944AC;
  padding-top: 215px;
  padding-bottom: 219px;
}

header h1 {
  color: white;
  font-size: 3.25rem;
  font-weight: 100;
  text-align: center;
  line-height: 0;
  padding-bottom: 55px;
}

header h2 {
  text-align: center;
  display: block;
  line-height: 0px;
  margin-top: 10px;
  font-weight: 100;
  font-size: 1.875rem;
  color: white;
  margin-left: 4px;
}

header>span, .digit-color-mag {
  color: #F000FF;
}

header>span, .digit-color-tur {
  color: #89E9D9;
}

header .center div {
  display: block;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  word-spacing: -10px;
  margin: 50px 0;
}

header .center img {
  display: block;
  margin: 0 auto;
  width: 60px;
  padding-top: 50px;
}

header span.blinking {
  animation: blinkingText 0.2s;
  animation-iteration-count: 5;
}

header span.blinking3 {
  animation: blinkingText 0.23s;
  animation-iteration-count: 5;
}

header span.blinking4 {
  animation: blinkingText 0.6s;
  animation-iteration-count: 5;
}

header span.blinking1 {
  animation: blinkingText 0.3s;
  animation-iteration-count: 5;
}

header span.blinking2 {
  animation: blinkingText .44s;
  animation-iteration-count: 5;
}

@keyframes blinkingText {
  40% {
    color: #2944AC;
  }

  80% {
    color: transparent;
  }
}

/* Main Styles */
main {
  padding: 60px 0;
  background-color: white;
}

main .center {
  margin: 0 auto;
  background-color: white;
  min-height: 650px;
  max-width: 320px;
}

main .center h2 {
  display: inline-block;
  position: relative;
  font-weight: 300;
  font-size: 1.875rem;
  left: -60px;
}

main .center p {
  transform: rotate(270deg);
  position: relative;
  top: 330px;
  left: 12px;
  width: 220px;
  text-align: left;
  line-height: 2;
  background-color: white;
  color: black;
}

main .center h2 {
  animation: pulseText 5s;
  animation-iteration-count: 2;
}

@keyframes pulseText {
  70% {
    color: black;
  }

  80% {
    color: transparent;
  }
}

main .center div span {
  color: #F000FF;
}

main .center div ul {
  position: relative;
  transform: rotate(270deg);
  background-color: white;
  width: 200px;
  line-height: 2;
  top: -100px;
  left: 72px;
  text-align: left;
  list-style-type: none;
  list-style-image: url('../images/rightarrow.svg');
}

main .center ul li:nth-child(+n+5) {
  color: #F000FF;
}

main .center ul li:nth-child(+n+5) span {
  color: black;
}

main .center img {
  position: relative;
  top: 20px;
  left: -60px;
}

/* Footer styles */
footer {
  min-height: 30%;
  background-color: #E7E7E9;
}

footer .center {
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

footer .center img {
  position: relative;
  ;
  right: 5px;
  margin-top: 160px;
  padding: 0;
  margin-bottom: 0;
  vertical-align: bottom;
}

footer .center button {
  transform: rotate(-45deg);
  position: relative;
  top: -300px;
  left: 10px;
  width: 93.6px;
  height: 39.3px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: white;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer .center button a, a:link, a:hover, a:active {
  color: #F000FF;
  text-decoration: none;
}

footer .center div p {
  min-height: 99px;
  background-color: #F000FF;
  font-size: 1rem;
  color: #fff;
  padding-top: 40px;
}

/**********************************************************************************************************
****************************************** Mobile Breakpoints *********************************************
**********************************************************************************************************/
@media (min-width: 480px) {
  header {
    padding-bottom: 130px;
  }

  header h1 {
    font-size: 6.25rem;
    padding-bottom: 45px;
  }

  header .center h2 {
    text-align: center;
    display: inline-block;
    position: relative;
    top: -40px;
  }

  header>span, .digit-color-mag {
    color: #F000FF;
  }

  header>span, .digit-color-tur {
    color: #89E9D9;
  }

  header .center>div {
    display: inline-block;
    padding: 0 16px 0 16px;
  }

  header .center>img {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 60px;
    top: -40px;
    margin-left: 16px;
  }

  main {
    min-height: 500px;
  }

  main .center {
    margin-left: 0 15px 0 15px;
    width: 400px;
    background-color: white;
    min-height: 420px
  }

  main .center h2 {
    display: inline-block;
    position: relative;
    font-weight: 300;
    left: -140px;
  }

  main .center div ul {
    left: 142px;
    top: -85px;
  }

  main .center div p {
    top: 80px;
    left: -72px;
  }

  main .center img {
    left: -140px;
  }

  footer .center img {
    left: -80px;
  }

  footer .center button {
    transform: rotate(-24deg);
    position: relative;
    top: -260px;
    left: 40px;
    width: 93.6px;
    height: 39.3px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: white;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
