* {
 box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F000FF;
}

h1 {
  font-family: 'Monoton', cursive;
}

/* Eye Image */
.eye {
  display: block;
  width: 25px;
  margin: 0 auto;
  color: white;
  padding: 10px 0 0 0;
  cursor: pointer;
}

/* Header Styles */
header {
  position: relative;
  background-color: #2944AC;
  z-index: 10;
  height: 644px
}

header h1 {
  color: white;
  font-size: 6.25rem;
  padding-bottom: 45px;
  font-weight: 100;
  text-align: center;
  width: 400px;
  margin: 155px auto 0;
  line-height: 1;
}

header #content {
  width: 400px;
  margin: 0 auto;
}


header #content h2 {
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 1.865rem;
  position: relative;
  top: -40px;
}

header #content #digits {
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1;
  word-spacing: -10px;
  width: 115px;
  margin-left: 17px;
  margin-right: 13px
}

header #content #digits .digitcolor {

  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
  transition: color 2s; /* For modern browsers */
  color: #ffffff;
}

header #content img {
  float: right;
  width: 60px;
  left: -4px;
  padding-top: 8px;
  position: relative;
  }

header >span, .digit-color-mag {
  color: #F000FF;
}

header >span, .digit-color-tur {
  color: #89E9D9;
}


header span.blinking {
  animation: blinkingText 0.2s;
  animation-iteration-count: 5;

}

header span.blinking3 {
  animation: blinkingText 0.23s;
  animation-iteration-count: 5;
}

header span.blinking4 {
  animation: blinkingText 0.6s;
  animation-iteration-count: 5;
}

header span.blinking1 {
  animation: blinkingText 0.3s;
  animation-iteration-count: 5;
}

header span.blinking2 {
  animation: blinkingText .44s;
  animation-iteration-count: 5;
}

@keyframes blinkingText {
  40% {
    color: #2944AC;
  }

  80% {
    color: transparent;
  }
}

/* Main Styles */

.work {
  min-height: 200px;
  background-color: #89E9D9;
  margin-top: -300px;
  transition: 1s;

}

.work-visible {
  transition: 1s;
  margin-top: 0;
}

.portfolio {
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 25px 50px 0 25px; 
  width: 100%;
  height:100%;
  margin-top: 0;
}

.portfolio div {
  margin-right: 80px;
  height: 225px;
}

.portfolio img {
  border: 3px #E7E7E9 solid;
  display: inline-block;
  cursor: pointer;
}

.portfolio h2 {
  transform: rotate(270deg);
  font-size: 0.95rem;
  width: 168px;
  position: relative;
  top: -97px;
  left: 126px;
  background-color: #E7E7E9;
  border: none;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 3px;
}

.portfolio .progress {
  position: relative;
  transform: rotate(270deg);
  font-family: 'Roboto Mono', monospace;
  top: -101px;
  left: 177px;
  font-size: 0.95rem;
  color: #F000FF;
  font-weight: 700;
  height: 30px;
  width: 120px;
}

.modal {
  position: fixed;
  background-color: #EBEBEB;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
  display: none;
  opacity: 0.8;
}

.modal-content {
  position: absolute;
  opacity: 1;
  top: 100px;
  left: 30%;
  right: 30%;
  z-index: 0;
  margin: 0 auto;
  display: none;

}

.modal-content img {
  width: 100%;

}

.open-modal {
  display: block;
  z-index: 20;
}

.closemodal {
  padding-top: 10px;
  margin-right: 10px;
  z-index: 24;
  float: right;
  cursor: pointer;
  width: 25px;
}

.open-content {
  display: block;
  z-index: 22;
}

main {
  min-height: 530px;
  background-color: white;
}

main>div {
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 90px;
}

main #hello {
  display: block;
  width: 100%;
  min-height: 100px;
}

main h2 {
  display: inline-block;
  font-weight: 300;
  font-size: 1.65rem;
  float: left;
  margin-top: 36px;
  animation: pulseText 7s;
  animation-iteration-count: 2;
}

main img {
  margin-top: 20px;
  float: left;
}

@keyframes pulseText {
  70% {
    color: black;
  }

  80% {
    color: transparent;
  }
}

main p {
  transform: rotate(0deg);
  position: relative;
  top: 55px;
  width: 180px;
  text-align: left;
  line-height: 2;
  background-color: white;
  color: black;
}

main p span {
  color: #F000FF;
}

main ul {
  position: relative;
  transform: rotate(0deg);
  background-color: white;
  width: 174px;
  line-height: 2;
  top: -105px;
  left: 225px;
  text-align: left;
  list-style-type: none;
  list-style-image: url('../images/rightarrow.svg');
}

main ul li:nth-child(+n+8) {
  color: #F000FF;
}

main ul li:nth-child(+n+5) span {
  color: black;
}

/* Footer styles */
footer {
  min-height: 460px;
  background-color: #E7E7E9;
  margin: 0 auto;
  padding-bottom: 0;
}

footer div {
  height: 460px;
  margin:0 auto;
  width: 400px
}

footer img {
  margin-top: 219px;

}

footer button {
  transform: rotate(-25deg);
  position: relative;
  top: -280px;
  left: 130px;
  width: 93px;
  height: 39px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  background-color: white;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

footer button a, a:link, a:hover, a:active {
  color: #F000FF;
  text-decoration: none;
}

footer p {
  min-height: 49px;
  background-color: #F000FF;
  font-size: 1rem;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}

@media only screen and (max-width: 420px) {

  header h1 {
    font-size: 4.45rem;
    margin: 90px auto 0;
    width: 320px;
  }

  header #content {
    width: 320px;
  }

  header #content h2 {
    text-align: center;
    display: block;
    font-size: 1.875rem;
    top: -66px;
    padding-top: 50px;
    width: 320px;
  }

  header #content #digits {
    display: block;
    margin: -45px auto 33px;
  }

  header #content img {
    display: block;
    margin: 0 auto;
    float: none;
    top: -30px;
  }

  main {
    min-height: 780px;
    padding-left: 40px;
  }

  main p {
    top: 48px;
  }

  main p span {
    color: #F000FF;
  }

  main ul {
    position: relative;
    transform: rotate(0deg);
    background-color: white;
    width: 200px;
    line-height: 2;
    top: 100px;
    left: 12px;
    text-align: left;
    list-style-type: none;
    list-style-image: url('../images/rightarrow.svg');
  }

  footer div {
    width: 320px;
    padding-left: 10px;
  }

  footer button {
    left: 70px;
    font-size: 16px;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}
