<!DOCTYPE html>
<html lang="en">

<head>
	<title>Basic Tab Implementation</title>
	<meta charset="UTF-8">
	<meta name="author" content="Tim Noakes-Tarrant">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/normalize.css" rel="stylsheet">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<div id="tab-component">
		<div id="tab-container">
			<div class="tab active">Tab 1</div><div class="tab">Tab 2</div><div class="tab">Tab 3</div>
		</div>
		<div id="tab-content-container">
			<div class="tab-content visible">Tab 1 Content</div>
			<div class="tab-content">Tab 2 Content</div>
			<div class="tab-content">Tab 3 Content</div>
		</div>
	</div>
	<script src="js/app.js"></script>
</body>

</html>