/*** SET DEFAULTS GLOBAL ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************/

/*** Set Center Container ***/

header div, main div, footer div {
  margin: 0 auto;
  max-width: 1120px;
}


/*** SET DEFAULT HEADINGS ***/

h1 {
  font-size: 1.5rem;
  max-width: 15rem;
  font-weight: 900;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1.32rem;
}
h5 {
  font-size: 1.149rem;
}
h6 {
  font-size: 1rem;
}

/***************************/

/*** SET DEFAULT PARAGRAPH ***/

p {
  color: #5b7a9d;
  padding: 1.8rem 0 1.8rem 0;
  letter-spacing: 0.04rem;
  font-size: 1rem;
}

/*****************************/

.def-blue {
  color: #00a5fc;
}

/*** SET DEFAULTS HTML AND BODY ***/

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
}

/**********************************/

/*** SET DEFAULT NAV LINKS ***/

a.nav {
  font-size: 1.0rem;
}

a.nav:hover {
  text-decoration: none;
  cursor: pointer;
  }

a.nav:link,
a.nav:visited {
  text-decoration: none;
  cursor: pointer;
  color: #5b7a9d;
}

a.nav:link:active,
a.nav:visited:active {
  font-weight: normal;
}

header div nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0.3rem;
  font-size: 0.85rem;
}

/*****************************/

/*** SET DEFAULT HEADER FOOTER ***/

header,
footer {
  display: flex;
  width: 100vw;
  height: 5.5rem;
  background-color: white;

}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px #e2e2e2 solid;
  z-index: 9999;
  width: 100vw;
  padding: 0 0.75rem 0 0.75rem;
}

header div img {
  width: 114px;
  padding: 0;
  position: relative;
  left: -5px;
}

footer {
  border-top: 1px #e2e2e2 solid;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

/***********************************/

/*** SET DEFAULT BODY BACKGROUND IMAGE ***/

body {
  background-image: url("../img/mobmesh320.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 310px, 0 1900px;
}

/*****************************************/

main {
  display:flex;
}


/*** SET DEFAULT SECTION SPACING ***/

section {
  display: flex;
  background-color: none;
  padding: 2rem 1.5rem 2rem 1.5rem;
}

/***********************************/

/*** SET DEFAULT BRAND CONTAINER ***/

#brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 0px solid #fff;
  background: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  width: 8.0625rem;
  height: 2.75rem;
  margin-bottom: 2rem;
}

/*********************************/

/*** MOBILE FIRST ***/

/*** HEADER SECTION ***/

header div nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0.3rem;
  font-size: 0.85rem;
}

header div {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

/********************/

/*** HOME SECTION ***/

section#home {
  height: 100vh;
  flex-direction: column;

}

section#home div:nth-child(2) {
  display: flex;
}

/* section#home div:nth-child(1) div {
  flex-direction: column;
} */

section#home .dc {
  min-width: 112px;
}

section#home div div:nth-child(2) img {
  position: relative;
  left: 24px;
 
}

section#home a {
  display: flex;
  background-color: #00a5fc;
  color: white;
  border: 0px;
  width: 9.25rem;
  border-radius: 6px;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
  font-weight: normal;
  padding: 0.7rem 0.8rem 0.7rem 0.8rem;
  height: 41px;
  text-decoration: none;
  letter-spacing: 0;
  margin-bottom: 14px;
}

section#home a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link:active,
a:visited:active {
  color: white;
}

/*** General Key Points Container ***/

section#home #general {
  width: 100%;
  height: 128px;
  position: relative;
  top: -20px;
}

section#home #general ul {
  list-style-type: none;
  list-style: none;
}

section#home #general ul li {
  background: url(../img/ulimage.png) left top no-repeat;
  margin: 0 0 10px 0;
  padding-left: 50px;
  padding-top: 3px;
  background-repeat: no-repeat;
  background-size: 28px;


}

section#home #general ul li h2 {
  margin: 0 0 0 0;

}

section#home #general ul li p {
  color: #00a5fc;
  margin: 0 0 0 0;
  padding: 5px 0 0 0; ;
}

/****************************/


/*** Contact Details ***/

section#home #contact-details {
  margin-left: 0;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 14rem;
  
  
}

section#home #contact-details div {
  display: flex;
flex-direction: column;
margin: 0.25rem 0 0 0;
padding-top: 0.5rem;
}

section#home #contact-details div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 1.9rem;

}

section#home #contact-details div div img{ 
  left: 0;
  margin: 0 1rem 0 0;
}

section#home #contact-details div .spc {
  display: none;
}

section#home #contact-details p {
  display: flex;
  padding: 0;
  height: 1rem;
  align-items: center;
  color: #dce3e9;
  font-weight: bold;
}


 /***********************/


/* 


section#home #contact-details div img:nth-child(2) {

  flex-direction: row;
  width: 20px;
  height: 19px;

}

section#home #contact-details p:nth-child(4)  {
 

  width: 10rem;
  padding: 0 0 0 1rem;
  color: #dce3e9;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
  padding: 0 0 0 0;
}

section#home #contact-details div:nth-child(4) {

  background-color: none;
  align-items: center;
}

section#home #contact-details div:nth-child(4) p {
  padding: 0 0 0 1rem;

  color: #dce3e9;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
}  */
