* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5b7a9d;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
}

.shadow {
  position: absolute;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.15);
}

.def-blue {
  color: #00a5fc;
}

.lft-cnt {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1.875rem;
  max-width: 15rem;
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1.32rem;
}
h5 {
  font-size: 1.149rem;
}
h6 {
  font-size: 1rem;
}

h1 {
  font-weight: 900;
}

h1,
h2,
h3 {
  color: black;
}

h2 {
  line-height: normal;
}

h3 {
  font-weight: 400;
  color: #00a5fc;
  line-height: normal;
}

a.nav {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:link,
a.nav:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:link:active,
a.nav:visited:active {
  color: black;
  font-weight: bold;
}
#brands {
  display: flex;
  flex-wrap: wrap;
}

.brand-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 0px solid #fff;
  background: #fff;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  width: 8.0625rem;
  height: 2.75rem;
  margin-bottom: 2rem;
}

header {
  height: 5.5rem;
  background-color: white;
  padding: 0.5rem 0.2rem;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px #e2e2e2 solid;
  z-index: 9999;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

main {
  background-image: url("../img/mobilemesh.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 180px, 0 1900px;
}

section#home {
  /* background-image: url("../img/mobilemesh.svg"), url("../img/mobilemesh.svg"); */

  min-height: 100vh;
}

section#home {
  padding: 2rem 1.5rem 0 1.5rem;
}

section#home p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem; /* 131.25% */
  letter-spacing: 0.04rem;
  height: 7rem;
  margin-top: 1.4rem;
}

section#home .lft-cnt div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#home .lft-cnt div .brand-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
}

section#home a {
  background-color: #00a5fc;
  color: white;
  border: 0px;
  width: 9.25rem;
  border-radius: 6px;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
  font-weight: normal;
  padding: 0.7rem 0.8rem 0.7rem 0.8rem;
  /* margin: 40rem 0 4rem 0; */
  text-decoration: none;
  letter-spacing: 0;
}

section#home a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link:active,
a:visited:active {
  color: white;
}

section#home .lft-cnt .contact-tel-email {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 0 0;
}

section#home .lft-cnt .contact-tel-email div {
  display: flex;
  align-items: center;
  justify-content: left;
}

section#home .lft-cnt .contact-tel-email div:nth-child(2) {
  margin-top: 0.9rem;
}

section#home .lft-cnt .contact-tel-email div p {
  line-height: normal;
  height: 20px;
  margin: 0 0 0 0.6rem;
  color: #dce3e9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
}

/**************** 470px Media *******************/

@media (min-width: 470px) {
  h1 {
    font-size: 2.5rem;
    padding-top: 0.25rem;
    max-width: 25rem;
  }
}

/**************** 532px Media *******************/

@media (min-width: 532px) {
  main {
    background-image: url("../img/meshtop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 380px, 0 1900px;
  }

  section#home {
  }

  /* swap mobile background image for mobile desktop  background*/
}

/**************** 600px Media *******************/

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
    padding-top: 2rem;
    max-width: 30rem;
  }
}

/**************** 600px Media *******************/

@media (min-width: 720px) {
}





/**************** 768px Media *******************/

@media (min-width: 768px) {
  #home {
    display: flex;
    flex-direction: row;
  }

  .lft-cnt {
    flex-direction: column;
    width: 35rem;
  }

  .rgt-cnt {
    display: flex;
    flex-direction: column;
    width: 35rem;
    align-items: flex-end;
  }

  section#home .rgt-cnt {
    display: flex;
    margin-top: 4rem;
    position: relative;

  }


section#home .rgt-cnt img:nth-child(1) {
      position: relative;
      top: -50px;
      
  }

  
}


/**************** 885px Media *******************/

@media (min-width: 885px) {
  
  section#home .rgt-cnt img:nth-child(1) {
    /* width: 80%;
    height: 80%; */
  }
  
 section#home .rgt-cnt .knoxicn {
   top: -22px;
   right: 20px;
   
 }
 
 section#home .rgt-cnt .m365icn {
  
   top: 132px;
   right: 245px;
   
 }
 
 section#home .rgt-cnt .azureicn {
  
   top: 178px;
   right: -13px;

 }
 
 section#home .rgt-cnt .intuneicn {
 
   top: 300px;
   right: 45px;

 }
 
 section#home .rgt-cnt .win11icn {
   
 top: 32px;
   right: 235px;

 } 
  
  section#home .rgt-cnt img:nth-child(1) {
     width: 376px;
      height: 376px
  }
  
  section#home .lft-cnt .contact-tel-email {
    flex-direction: row;
    align-items: center;
  }
  
  section#home .lft-cnt .contact-tel-email div:nth-child(2) {
    margin-top: 0; 
  }
  
}






/**************** 1120px Media *******************/

@media (min-width: 1120px) {
  section,
  footer {
    max-width: 1120px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 0 0 0;
  }

  header {
    border-bottom: 1px #e2e2e2 solid;
    width: 100vw;
  }

  header div {
    max-width: 1120px;
    margin: 0 auto;
  }

  h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 1px;
    min-width: 100%;
    margin-bottom: 0.4rem;
  }

  section#home {
    margin-top: 5.5rem;
    padding: 0 2rem 0 1rem;
  }

  section#home .lft-cnt p {
    font-weight: 400;
    font-size: 1.1875rem;
    letter-spacing: 1.3px;
    line-height: 1.8125rem;
    max-width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  section#home .rgt-cnt img:nth-child(1) {
      position: relative;
      top: -70px;
      right: -30px;
      min-width: 460px;
      min-height: 460px;
  }
  
  
  section#home .lft-cnt .contact-tel-email div p {
      font-weight: 500;
      position: relative;
      right: 10px;
      font-size: 1.1875rem;
      letter-spacing: 1.3px;
      line-height: 1.8125rem;
  }

 section#home .lft-cnt .contact-tel-email div:nth-child(2) img {
      width: 30px;
      height: 25px;
  }


   section#home .lft-cnt .contact-tel-email div:nth-child(3) img {
        width: 28px;
        height: 20px;
    }

}


