* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5b7a9d;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
}

.shadow {
  position: absolute;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.15);
}

.def-blue {
  color: #00a5fc;
}

.lft-cnt {
  display: flex;
  flex-direction: column;
}



h1 {
  font-size: 1.875rem;
  max-width: 15rem
}
h2 {
  font-size: 1.25rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1.32rem;
}
h5 {
  font-size: 1.149rem;
}
h6 {
  font-size: 1rem;
}

h1 {
  font-weight: 900;
}

h1,
h2,
h3 {
  color: black;
}

h2 {
  line-height: normal;
}

h3 {
  font-weight: 400;
  color: #00a5fc;
  line-height: normal;
}

a.nav {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:link,
a.nav:visited {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:link:active,
a.nav:visited:active {
  color: black;
  font-weight: bold;
}

#brands {
  display: flex;
  flex-wrap: wrap;
}

.brand-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  border: 0px solid #FFF;
  background: #FFF;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
  width: 8.0625rem;
  height: 2.75rem;
  margin-bottom: 2rem;
}

header {
  height: 5.5rem;
  background-color: white;
  padding: 0.5rem 0.2rem;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px #e2e2e2 solid;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

main {
  background-image: url("../img/mobilemesh.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 180px, 0 1900px;
}

section#home {
  /* background-image: url("../img/mobilemesh.svg"), url("../img/mobilemesh.svg"); */

  min-height: 100vh;

}

section#home {
  padding: 2rem 1.5rem 0 1.5rem;
}

section#home p {
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.3125rem; /* 131.25% */
letter-spacing: 0.04rem;
height: 7rem;
margin-top: 1.4rem;
  }

section#home .lft-cnt div  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

section#home .lft-cnt div .brand-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
 }

section#home a {
  background-color: #00a5fc;
  color: white;
  border: 0px;
  width: 9.25rem;
  border-radius: 6px;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
  font-weight: normal;
  padding: 0.7rem 0.8rem 0.7rem 0.8rem;
  /* margin: 40rem 0 4rem 0; */
  text-decoration: none;
  letter-spacing: 0;
}

section#home a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

section#home a:link:active,
a:visited:active {
  color: white;
}

section#home .lft-cnt .contact-tel-email {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 0 0 0
}

section#home .lft-cnt .contact-tel-email div {
  display: flex;
  align-items: center;
  justify-content: left;
}

section#home .lft-cnt .contact-tel-email div:nth-child(2) {
 margin-top: 0.9rem;
}


section#home .lft-cnt .contact-tel-email div p {
  line-height: normal;
  height: 20px;
  margin: 0 0 0 0.6rem;
  color: #DCE3E9;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
 }
  
/**************** 470px Media *******************/  
  

@media (min-width: 470px) {
 
   h1 {  
     font-size: 2.5rem;
     padding-top: 0.25rem;
     max-width: 25rem;
   }
 }


/**************** 532px Media *******************/
 
 
 @media (min-width: 532px) {
   
  main {
   background-image: url("../img/meshtop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 180px, 0 1900px;
  } 
   
   
section#home {

 
 }

/* swap mobile background image for mobile desktop  background*/

 }


/**************** 600px Media *******************/


@media (min-width: 600px) {

  h1 {  
    font-size: 3rem;
    padding-top: 2rem;
    max-width: 30rem;
  }
}

/**************** 600px Media *******************/


@media (min-width: 720px) {

}

/**************** 720px Media *******************/

@media (min-width: 768px) {
  
  #home {
    display: flex;
    flex-direction: row;
  }
  
  .lft-cnt {
    flex-direction: column; 
    width: 35rem;
  }
  
  .rgt-cnt {
    display: flex;
    flex-direction: column; 
    width: 35rem;
    align-items: flex-end;
  }
  
  .brand-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
    border: 0px solid #FFF;
    background: #FFF;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.16);
    width: 8.0625rem;
    height: 2.75rem;
    margin-bottom: 2rem;
  }
  
  
  section#home .rgt-cnt {
    display: flex;
    margin-top: 4rem;
    position: relative;
  }
  
  section#home .rgt-cnt .knoxicn {
    background-color: white;
    position: absolute;
    top: -22px;
    right: -62px;
    padding: 20px;
    border-radius: 13px;
  }
  
  section#home .rgt-cnt .m365icn {
    position: absolute;
    top: 150px;
    right: -110px;
    padding: 11px;
    border-radius: 13px;
    background-color: white;
  }
  
  section#home .rgt-cnt .azureicn {
    position: absolute;
    top: 350px;
    right: -40px;
    padding: 16px;
    border-radius: 13px;
    background-color: white;
  }
  
  section#home .rgt-cnt .intuneicn {
    position: absolute;
    top: 260px;
    left: 150px;
    padding: 16px;
    border-radius: 13px;
    background-color: white;
  }
  
  section#home .rgt-cnt .win11icn {
    position: absolute;
    top: 60px;
    left: 90px;
    padding: 16px;
    border-radius: 13px;
    background-color: white;
  }


  
}