* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5b7a9d;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

p {
  font-weight: 400;
  font-size: 1.1875rem;
  letter-spacing: 1.3px;
  line-height: 1.8125rem;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 1.3px;
  line-height: 30px;
}

button {
  background-color: #00a5fc;
  color: white;
  width: 173px;
  height: 47px;
  border: 0px;
  border-radius: 7px;
  font-size: 1.125rem;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
}

.def-blue {
  color: #00a5fc;
}

.lft-cnt {
  width: 35rem;
}

.rgt-cnt {
  width: 35rem;
}

.btn-cnt {
  display: flex;
}

header {
  height: 5.625rem;
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

header nav {
  font-size: 0.875rem;
}

header nav ul {
  display: flex;
  gap: 30px;
}

header nav ul li {
  list-style-type: none;
}

main {
  height: 100vh;
}

main {
  background-image: url("../img/mesh2.png");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1495px;
  background-position: 0 434px;
  border-top: 1px #e2e2e2 solid;
  width: 100%;
}

main h1 {
  color: black;
  font-size: 4rem;
  width: 40rem;
  font-weight: 900;
  margin-top: 7.5rem;
  letter-spacing: 1px;
  margin-bottom: 1.895rem;
}

main .btn-cnt {
  width: 43rem;
  position: relative;
  display: flex;
  margin-top: 3.875rem;
  align-items: center;
  font-size: 1.25rem;
  color: #dce3e9;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: space-between;
}

main .btn-cnt p {
  font-weight: 500;
  position: relative;
  right: 10px;
}

main p {
}

.rgt-cnt {
  display: flex;
  margin-top: 7.5rem;
  justify-content: flex-end;
  position: relative;
}

.shadow {
  position: absolute;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.15);
}

.rgt-cnt .knoxicn {
  background-color: white;
  position: absolute;
  top: -22px;
  right: -62px;
  padding: 20px;
  border-radius: 13px;
}

.rgt-cnt .m365icn {
  position: absolute;
  top: 150px;
  right: -110px;
  padding: 11px;
  border-radius: 13px;
  background-color: white;
}

.rgt-cnt .azureicn {
  position: absolute;
  top: 350px;
  right: -40px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

.rgt-cnt .intuneicn {
  position: absolute;
  top: 260px;
  left: 150px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

.rgt-cnt .win11icn {
  position: absolute;
  top: 60px;
  left: 90px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

section {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

/****  Section 2 ****/

section ul {
  list-style-type: none;
  list-style: none;
}

section ul li {
  background: url(../img/ulimage.png) left top no-repeat;
  margin: 0 0 22px 0;
  padding-left: 73px;
  background-repeat: no-repeat;
}

main section:nth-child(2) .rgt-cnt {
  margin-top: 200px;
  justify-content: flex-start;
}

section ul li h2 {
  margin: 0 0 0 0;
}

section ul li p {
  color: #00a5fc;
  margin: 5px 0 0 0;
}

main section:nth-child(2) .lft-cnt {
  margin-top: 9.5rem;
  padding-left: 7.5rem;
}

.findia {
  height: 364px;
  width: 289px;
  border-radius: 13px;
  background-color: white;
  box-shadow: 5px 3px 8px hsl(0deg 0% 0% / 0.04);
  background-position: center;
  background-image: url("../img/fiabk.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.findia div:nth-child(1) {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  background-color: rgba(60, 88, 136, 0.38);
  padding: 14px 14px 14px 14px;
  height: 64px;
  color: white;
  display: flex;
}

.findia div:nth-child(2) {
  position: absolute;
  border-radius: 4px;
  background-color: #34b439;
  height: 34px;
  width: 73px;
  color: white;
  left: 190px;
  top: 85px;
}

.findia div:nth-child(3) {
  position: absolute;
  border-radius: 4px;
  background-color: #5b7a9d;
  height: 34px;
  width: 73px;
  color: white;
  left: 115px;
  top: 247px;
}

.findia div p {
  display: flex;
  font-weight: 400;
  align-items: center;
  padding: 0 130px 0 10px;
}

.findia div:nth-child(2) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

.findia div:nth-child(3) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

.findia div:nth-child(4) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 302px;
  left: 30px;
}

.findia div:nth-child(5) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 256px;
  left: 80px;
}

.findia div:nth-child(6) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 211px;
  left: 108px;
}

.findia div:nth-child(7) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #ffc700;
  position: absolute;
  top: 166px;
  left: 152px;
}

.findia div:nth-child(8) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 120px;
  left: 165px;
}

/******** Section 3 **********/

section:nth-child(3) {
  margin-top: 10.6rem;
}

section:nth-child(3) h2 {
  line-height: 0.6;
}

section:nth-child(3) h3 {
  line-height: 0;
  color: #00a5fc;
  margin: 0 0 3.1rem 0;
}

section:nth-child(3) ul {
  margin: 3.6rem 0 0 0;
}

section:nth-child(3) ul li {
  background: none;
  font-size: 1.125rem;
  color: #00a5fc;
  margin: 0 0 10px 0;
}

section:nth-child(3) ul li:nth-child(1) {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section:nth-child(3) ul li:nth-child(7) {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
  margin: 6rem 0 0 0;
}
section:nth-child(3) ul li:nth-child(8) {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section:nth-child(3) .rgt-cnt {
  margin: -2rem 0 0 0;
  position: relative;
}

/******** Section 4 **********/

.companies {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

.companies ul li {
  background: url(../img/bullarr.png) left top no-repeat;
  /* margin-bottom: 40px; */
  padding-left: 73px;
  background-repeat: no-repeat;
}

.companies ul li {
  margin-top: 1.4rem;
}

.companies ul li:nth-child(1) {
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.companies ul li:nth-child(2) {
  height: 20px;
  display: flex;
  align-items: center;
}

.spc {
  margin: 0 1.25rem 0 1.25rem;
}
