* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5b7a9d;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 1.1875rem;
  letter-spacing: 1.3px;
  line-height: 1.8125rem;
  max-width: 100%;
}

section {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a.nav {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:hover {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:link,
a.nav:visited {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:link:active,
a.nav:visited:active {
  color: #5b7a9d;
}

p {
  font-weight: 400;
  font-size: 1.1875rem;
  letter-spacing: 1.3px;
  line-height: 1.8125rem;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  color: #00a5fc;
  font-size: 1.25rem;
  letter-spacing: 1.3px;
  line-height: 30px;
  margin: 0 0 3.1rem 0;
}

.btn-cnt a {
  background-color: #00a5fc;
  color: white;
  width: 173px;
  height: 47px;
  border: 0px;
  border-radius: 7px;
  font-size: 1.125rem;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
  font-weight: normal;
  padding: 0.79rem 0 0 1.2rem;
  text-decoration: none;
  letter-spacing: 0;
}

.but-cnt a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.but-cnt a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.but-cnt a:link:active,
a:visited:active {
  color: white;
}

.def-blue {
  color: #00a5fc;
}

.lft-cnt {
  width: 35rem;
}

.rgt-cnt {
  width: 35rem;
}

.btn-cnt {
  display: flex;
}

#headersep {
  border-bottom: 1px #e2e2e2 solid;
  height: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 999;
}

.shadow {
  position: absolute;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.15);
}

header {
  height: 5.625rem;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 200;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  height: 5.625rem;
  z-index: 200;
}

header nav {
  font-size: 0.875rem;
}

header nav ul {
  display: flex;
  gap: 30px;
}

header nav ul li {
  list-style-type: none;
}

footer {
  height: 5.625rem;
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

main {
  min-height: 100vh;
}

main {
  background-image: url("../img/meshtop.svg"), url("../img/meshbot.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 3355px;
  background-position: 0 380px, 0 2150px;

  border-bottom: 1px #e2e2e2 solid;
  width: 100%;
}

/***** Home *****/


section#home {
  scroll-margin-top: 9.8rem;
}

section#home {
  margin-top: 4rem;
}

section#home h1 {
  letter-spacing: 1px;
  margin-bottom: 1.895rem;
}

section#home .btn-cnt {
  width: 43rem;
  position: relative;
  display: flex;
  margin-top: 3.875rem;
  align-items: center;
  font-size: 1.25rem;
  color: #dce3e9;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: space-between;
}

section#home .btn-cnt p {
  font-weight: 500;
  position: relative;
  right: 10px;
}

section#home .rgt-cnt {
  display: flex;
  margin-top: 4rem;
  justify-content: flex-end;
  position: relative;
}

section#home .rgt-cnt img:nth-child(1) {
  position: relative;
  top: -70px;
  max-width: 100%;
  max-height: 100%;
}

/***** End Home *****/

/***** General *****/


section#general ul {
  list-style-type: none;
  list-style: none;
}

section#general ul li {
  background: url(../img/ulimage.png) left top no-repeat;
  margin: 0 0 22px 0;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section#general .rgt-cnt {
  display: flex;
  margin-top: 200px;
  justify-content: flex-start;
}

section#general ul li h2 {
  margin: 0 0 0 0;
}

section#general ul li p {
  color: #00a5fc;
  margin: 5px 0 0 0;
}

section#general .lft-cnt {
  margin-top: 9.5rem;
  padding-left: 7.5rem;
}

section#general .findia {
  height: 364px;
  width: 289px;
  border-radius: 13px;
  background-color: white;
  box-shadow: 5px 3px 8px hsl(0deg 0% 0% / 0.04);
  background-position: center;
  background-image: url("../img/fiabk.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

section#general .findia div:nth-child(1) {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  background-color: rgba(60, 88, 136, 0.38);
  padding: 14px 14px 14px 14px;
  height: 64px;
  color: white;
  display: flex;
}

section#general .findia div:nth-child(2) {
  position: absolute;
  border-radius: 4px;
  background-color: #34b439;
  height: 34px;
  width: 73px;
  color: white;
  left: 190px;
  top: 85px;
}

section#general .findia div:nth-child(3) {
  position: absolute;
  border-radius: 4px;
  background-color: #5b7a9d;
  height: 34px;
  width: 73px;
  color: white;
  left: 115px;
  top: 247px;
}

section#general .findia div p {
  display: flex;
  font-weight: 400;
  align-items: center;
  padding: 0 130px 0 10px;
}

section#general .findia div:nth-child(2) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

section#general .findia div:nth-child(3) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

section#general .findia div:nth-child(4) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 302px;
  left: 30px;
}

section#general .findia div:nth-child(5) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 256px;
  left: 80px;
}

section#general .findia div:nth-child(6) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 211px;
  left: 108px;
}

section#general .findia div:nth-child(7) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #ffc700;
  position: absolute;
  top: 166px;
  left: 152px;
}

section#general .findia div:nth-child(8) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 120px;
  left: 165px;
}

/***** End General *****/

/***** Services *****/

section#services {
  scroll-margin-top: 11.5rem;
}

section#services {
  margin-top: 14rem;
}

section#services h2 {
  line-height: 0.6;
}

section#services h3 {
  line-height: 0;
}

section#services .rgt-cnt {
  display: flex;
  justify-content: flex-end;
}

section#services .rgt-cnt img {
  max-width: 524px;
  max-height: 517px;
}

section#services ul {
  margin: 3.6rem 0 0 0;
  list-style-type: none;
}

section#services ul li {
  background: none;
  padding-left: 73px;
  font-size: 1.125rem;
  color: #00a5fc;
  margin: 0 0 10px 0;
}

section#services ul li:nth-child(1) {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section#services .rgt-cnt {
  margin: -2rem 0 0 0;
  position: relative;
}

/***** End Services *****/

/***** Companies *****/

.companies {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

.companies ul li {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

.companies ul li {
  margin-top: 1.4rem;
}

.companies ul li:nth-child(1) {
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.companies ul li:nth-child(2) {
  height: 20px;
  display: flex;
  align-items: center;
}

.spc {
  margin: 0 1.25rem 0 1.25rem;
}

/***** End Companies *****/

/***** About Us *****/

section#aboutus {
  scroll-margin-top: 11.5rem;
}

section#aboutus {
  margin-top: 14rem;
}

section#aboutus h2 {
  line-height: 0.6;
}

section#aboutus h3 {
  line-height: 0;
}

section#aboutus .rgt-cnt {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

section#aboutus .rgt-cnt img {
  width: 300px;
  height: 300px;
}

/***** End About Us *****/

/***** Contact Us *****/

section#contactus {
  scroll-margin-top: 11.5rem;
}

section#contactus {
  margin-top: 14rem;
}

section#contactus .rgt-cnt {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
}

section#contactus div {
  display: flex;
}

section#contactus h2 {
  line-height: 0.6;
}

section#contactus h3 {
  line-height: 0;
}

section#contactus {
  display: block;
}

section#contactus div {
  margin-top: 0;
}

section#contactus div p {
  color: #00a5fc;
  padding: 0 0 0 2rem;
  width: 1000px;
}

section#contactus .lft-cnt {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

section#contactus .lft-cnt p span {
  font-weight: normal;
  font-size: 1.1875rem;
  letter-spacing: 0;
}

section#contactus .lft-cnt p {
  margin: 0 0 0 0;
  font-weight: bold;
}

section#contactus .rgt-cnt {
  margin-top: 1rem;
}

section#contactus .rgt-cnt ul {
  margin: 1rem 0 0 0;
  list-style-type: none;
}

section#contactus .lft-cnt ul li {
  background: none;
  padding-left: 73px;
  font-size: 1.125rem;
  height: 30px;
  color: #00a5fc;
  margin: 0 0 22px 0;
}

section#contactus .lft-cnt ul li:nth-child(1) {
  background: url(../img/phoneicn.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section#contactus .lft-cnt ul {
  margin: 1rem 0 0 0;
  list-style-type: none;
}

section#contactus .rgt-cnt ul li {
  background: none;
  padding-left: 73px;
  font-size: 1.125rem;
  height: 20px;
  color: #00a5fc;
  margin: 0 0 22px 0;
}

section#contactus .rgt-cnt ul li:nth-child(1) {
  background: url(../img/emailicn.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

/***** End Contact Us *****/

footer p {
  font-size: 1rem;
  letter-spacing: 0;
}

/***************************/



/****** Mobile Styles ******/


/****** 768px ******/

@media screen and (max-width: 768px) {

header {
  padding: 0 1rem 0 0;
}

main {
  padding: 0 1rem 0 1rem;
}


section#home {
  margin-top: 1rem; 
}

section#home h1 {
  font-size: 3.5rem;
}

section#home .rgt-cnt img:nth-child(1) {
  max-width: 350px;
  max-height: 350px;
  top: -25px;
}

section#home .lft-cnt {
width: 25rem;
}

section#general .lft-cnt {
margin-top: 9.5rem;
padding-left: 0; 
}

section#general .rgt-cnt {
width: 44rem;
}


h2 {
font-weight: 600;
font-size: 1.6rem;
}

section#services .rgt-cnt img {
max-width: 324px;
max-height: 317px;
}

section#services h2 {
 line-height: 1;
}

section#services h3 {
 line-height: 1;
}

section#aboutus h3 {
line-height: 1; 
}

section#aboutus .rgt-cnt img {
width: 250px;
height: 250px;
}

section#contactus {
  margin-bottom: 2rem;
}

.companies ul li:nth-child(2) {
height: 42px;
display: flex;
align-items: center;
overflow: hidden;

}

section#contactus .lft-cnt {
width: 20rem;
}

footer {
  padding: 0 1rem 0 0;
}



}



@media screen and (min-width: 768px) {



}






























