* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #5b7a9d;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  font-size: 16px;
}

section {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a.nav {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:hover {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:link,
a.nav:visited {
  color: #5b7a9d;
  text-decoration: none;
  cursor: pointer;
}

a.nav:link:active,
a.nav:visited:active {
  color: #5b7a9d;
}

p {
  font-weight: 400;
  font-size: 1.1875rem;
  letter-spacing: 1.3px;
  line-height: 1.8125rem;
  max-width: 100%;
}

h1,
h2,
h3 {
  color: black;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  font-weight: 400;
  color: #00a5fc;
  font-size: 1.25rem;
  letter-spacing: 1.3px;
  line-height: 30px;
  margin: 0 0 3.1rem 0;
}

.btn-cnt a {
  background-color: #00a5fc;
  color: white;
  width: 173px;
  height: 47px;
  border: 0px;
  border-radius: 7px;
  font-size: 1.125rem;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.28);
  font-weight: normal;
  padding: 0.79rem 0 0 1.2rem;
  text-decoration: none;
  letter-spacing: 0;
}

.but-cnt a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.but-cnt a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.but-cnt a:link:active,
a:visited:active {
  color: white;
}

.def-blue {
  color: #00a5fc;
}

.lft-cnt {
  width: 35rem;
}

.rgt-cnt {
  width: 35rem;
}

.btn-cnt {
  display: flex;
}

#headersep {
  border-bottom: 1px #e2e2e2 solid;
  height: 1px;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
  z-index: 999;
}

.shadow {
  position: absolute;
  box-shadow: 3px 3px 8px hsl(0deg 0% 0% / 0.15);
}

header {
  height: 5.625rem;
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 200;
}

header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  height: 5.625rem;
  z-index: 200;
}

header nav {
  font-size: 0.875rem;
}

header nav ul {
  display: flex;
  gap: 30px;
}

header nav ul li {
  list-style-type: none;
}

footer {
  height: 5.625rem;
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

main {
  height: 100vh;
}

main {
  background-image: url("../img/meshtop.svg"), url("../img/meshbot.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 3355px;
  background-position: 0 434px, 0 1900px;

  border-bottom: 1px #e2e2e2 solid;
  width: 100%;
}

/***** Home *****/

section#home {
  margin-top: 4rem;
}

section#home h1 {
  letter-spacing: 1px;
  margin-bottom: 1.895rem;
}

section#home .btn-cnt {
  width: 43rem;
  position: relative;
  display: flex;
  margin-top: 3.875rem;
  align-items: center;
  font-size: 1.25rem;
  color: #dce3e9;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: space-between;
}

section#home .btn-cnt p {
  font-weight: 500;
  position: relative;
  right: 10px;
}

section#home .rgt-cnt {
  display: flex;
  margin-top: 4rem;
  justify-content: flex-end;
  position: relative;
}

section#home .rgt-cnt .knoxicn {
  background-color: white;
  position: absolute;
  top: -22px;
  right: -62px;
  padding: 20px;
  border-radius: 13px;
}

section#home .rgt-cnt .m365icn {
  position: absolute;
  top: 150px;
  right: -110px;
  padding: 11px;
  border-radius: 13px;
  background-color: white;
}

section#home .rgt-cnt .azureicn {
  position: absolute;
  top: 350px;
  right: -40px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

section#home .rgt-cnt .intuneicn {
  position: absolute;
  top: 260px;
  left: 150px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

section#home .rgt-cnt .win11icn {
  position: absolute;
  top: 60px;
  left: 90px;
  padding: 16px;
  border-radius: 13px;
  background-color: white;
}

/***** General *****/

section#general ul {
  list-style-type: none;
  list-style: none;
}

section#general ul li {
  background: url(../img/ulimage.png) left top no-repeat;
  margin: 0 0 22px 0;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section#general .rgt-cnt {
  margin-top: 200px;
  justify-content: flex-start;
}

section#general ul li h2 {
  margin: 0 0 0 0;
}

section#general ul li p {
  color: #00a5fc;
  margin: 5px 0 0 0;
}

section#general .lft-cnt {
  margin-top: 9.5rem;
  padding-left: 7.5rem;
}

section#general .findia {
  height: 364px;
  width: 289px;
  border-radius: 13px;
  background-color: white;
  box-shadow: 5px 3px 8px hsl(0deg 0% 0% / 0.04);
  background-position: center;
  background-image: url("../img/fiabk.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

section#general .findia div:nth-child(1) {
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  background-color: rgba(60, 88, 136, 0.38);
  padding: 14px 14px 14px 14px;
  height: 64px;
  color: white;
  display: flex;
}

section#general .findia div:nth-child(2) {
  position: absolute;
  border-radius: 4px;
  background-color: #34b439;
  height: 34px;
  width: 73px;
  color: white;
  left: 190px;
  top: 85px;
}

section#general .findia div:nth-child(3) {
  position: absolute;
  border-radius: 4px;
  background-color: #5b7a9d;
  height: 34px;
  width: 73px;
  color: white;
  left: 115px;
  top: 247px;
}

section#general .findia div p {
  display: flex;
  font-weight: 400;
  align-items: center;
  padding: 0 130px 0 10px;
}

section#general .findia div:nth-child(2) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

section#general .findia div:nth-child(3) p {
  border-radius: 4px;
  padding: 0 0 0 0;
  margin-top: 2px;
  margin: 2px 0 0 16px;
  font-size: 1rem;
}

section#general .findia div:nth-child(4) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 302px;
  left: 30px;
}

section#general .findia div:nth-child(5) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 256px;
  left: 80px;
}

section#general .findia div:nth-child(6) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 211px;
  left: 108px;
}

section#general .findia div:nth-child(7) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #ffc700;
  position: absolute;
  top: 166px;
  left: 152px;
}

section#general .findia div:nth-child(8) {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 5px solid #d9d9d9;
  position: absolute;
  top: 120px;
  left: 165px;
}

/***** Services *****/

section#services {
  margin-top: 14rem;
}

section#services h2 {
  line-height: 0.6;
}

section#services h3 {
  line-height: 0;
}

section#services .rgt-cnt {
  display: flex;
  justify-content: flex-end;
}

section#services .rgt-cnt img {
  max-width: 524px;
  max-height: 517px;
}

section#services ul {
  margin: 3.6rem 0 0 0;
  list-style-type: none;
}

section#services ul li {
  background: none;
  padding-left: 73px;
  font-size: 1.125rem;
  color: #00a5fc;
  margin: 0 0 10px 0;
}

section#services ul li:nth-child(1) {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

section#services .rgt-cnt {
  margin: -2rem 0 0 0;
  position: relative;
}

/***** Companies *****/

.companies {
  display: flex;
  max-width: 70rem;
  margin: 0 auto;
}

.companies ul li {
  background: url(../img/bullarr.png) left top no-repeat;
  padding-left: 73px;
  background-repeat: no-repeat;
}

.companies ul li {
  margin-top: 1.4rem;
}

.companies ul li:nth-child(1) {
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 85px;
}

.companies ul li:nth-child(2) {
  height: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.spc {
  margin: 0 1.25rem 0 1.25rem;
}

/***** About Us *****/

section#aboutus {
  margin-top: 14rem;
}

section#aboutus h2 {
  line-height: 0.6;
}

section#aboutus h3 {
  line-height: 0;
}

section#aboutus .rgt-cnt {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

section#aboutus .rgt-cnt img {
  width: 300px;
  height: 300px;
}

/***** Contact Us *****/

section#contactus {
  margin-top: 14rem;
}

section#contactus .rgt-cnt {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
}

section#contactus div {
  display: flex;
}

section#contactus h2 {
  line-height: 0.6;
}

section#contactus h3 {
  line-height: 0;
}

section#contactus {
  display: block;
}

section#contactus div {
  margin-top: 0;
}

section#contactus div p {
  color: #00a5fc;
  padding: 0 0 0 2rem;
  width: 1000px;
}

section#contactus .lft-cnt {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
}

section#contactus .lft-cnt p span {
  font-weight: normal;
  font-size: 1.1875rem;
  letter-spacing: 0;
}

section#contactus .lft-cnt p {
  margin: 0 0 0 0;
  font-weight: bold;
}

section#contactus .rgt-cnt {
  margin-top: 1rem;
}

section#contactus .rgt-cnt ul {
  margin: 0 0 0 0;
}

section#contactus .rgt-cnt ul li {
  background: none;
  margin: 0 0 22px 0;
  padding-left: 0;
  height: 10px;
  display: flex;
  align-items: flex-start;
  color: #00a5fc;
}

footer p {
  font-size: 1rem;
  letter-spacing: 0;
}

/*********************************************/
/*************      MOBILE      **************/
/*************      STYLES      **************/
/*********************************************/

@media (max-width: 1385px) {
  header {
    padding: 0 2rem 0 2rem;
  }

  section {
    padding: 0 2rem 0 2rem;
  }

  /***** Home *****/

  section#home .rgt-cnt .knoxicn {
    right: -9px;
  }

  section#home .rgt-cnt .m365icn {
    right: -62px;
  }

  /***** End Home *****/
}

@media (max-width: 1282px) {
  /***** Home *****/

  section#home .rgt-cnt .knoxicn {
    right: 31px;
  }

  section#home .rgt-cnt .m365icn {
    right: -34px;
  }

  /***** End Home *****/
}

@media (max-width: 1200px) {
  /***** Home *****/

  section#home .rgt-cnt .knoxicn {
    right: 31px;
  }

  section#home .rgt-cnt .m365icn {
    right: -34px;
  }

  section#home .rgt-cnt .azureicn {
    right: -6px;
  }

  section#home .rgt-cnt .m365icn {
    right: -4px;
  }

  /***** End Home *****/
}

@media (max-width: 1134px) {
  /***** Header *****/

  header {
    padding: 0 12rem 0 2rem;
  }

  header#section {
    padding: 0 2rem 0 2rem;
    margin: 0 auto;
  }

  /***** End Header *****/
}

@media (max-width: 1109px) {
  /***** Services *****/

  section#services .rgt-cnt img {
    width: 324px;
    height: 317px;
  }

  section#services .rgt-cnt {
    max-width: 20rem;
  }

  /***** End Services *****/
}

@media (max-width: 1076px) {
  /***** Services *****/

  section#services {
    line-height: normal;
  }

  /***** End Services *****/
}

@media (max-width: 1057px) {
  /***** Home *****/

  section#home .rgt-cnt .knoxicn {
    display: none;
  }

  section#home .rgt-cnt .m365icn {
    display: none;
  }

  section#home .rgt-cnt .azureicn {
    display: none;
  }

  section#home .rgt-cnt .intuneicn {
    display: none;
  }

  section#home .rgt-cnt .win11icn {
    display: none;
  }

  section#home .rgt-cnt img {
    width: 300px;
    height: 300px;
  }
  section#home h2 {
    line-height: 1.1;
  }

  /***** End Home *****/

  /***** General *****/

  section#general .lft-cnt {
    padding-left: 0;
  }

  /***** End General *****/
}

@media (max-width: 992px) {
}

@media (max-width: 989px) {
}

@media (max-width: 958px) {
  main section:nth-child(2) .lft-cnt {
    padding: 0 2rem 0 2rem;
  }

  /***** Home *****/

  section#home .rgt-cnt img {
    width: 200px;
    height: 200px;
  }

  main section:nth-child(2) .lft-cnt {
    padding: 0 2rem 0 2rem;
  }

  /***** End Home *****/
}

@media (max-width: 895px) {
  /***** Home *****/

  /***** End Home *****/

  /***** Services *****/

  section#services .rgt-cnt img {
    width: 324px;
    height: 317px;
  }

  section#services .rgt-cnt {
    display: none;
  }

  /***** End Services *****/
}

@media (max-width: 822px) {
  /***** Home *****/

  section#home .rgt-cnt {
    display: none;
  }

  section#home .lft-cnt {
    width: 70rem;
  }

  /***** EndHome *****/
}

@media (max-width: 768px) {
  section#home .rgt-cnt {
    display: none;
  }
}

@media (max-width: 730px) {
  /***** Home *****/

  #home .lft-cnt .btn-cnt {
    width: 27.4rem;
  }
  #home .lft-cnt .btn-cnt img:nth-child(5) {
    display: none;
  }

  #home .lft-cnt .btn-cnt p:nth-child(6) {
    display: none;
  }

  /***** End Home *****/

  /***** General *****/

  section#general .rgt-cnt {
    margin: 6rem 0 0 0;
  }

  section#general .lft-cnt {
    display: none;
  }

  /***** End General *****/

  /***** Services *****/

  section#services .rgt-cnt {
    display: none;
  }

  section#services {
    margin: 4rem 0 0 0;
  }

  /***** End Services *****/
}

@media (max-width: 651px) {
  /* main #home .lft-cnt h1 {
    color: black;
    font-size: 3rem;
    width: 40rem;
    font-weight: 900;
    margin-top: 7.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.895rem; 
  }*/
}

@media (max-width: 580px) {
  /* main #home .lft-cnt h1 {
    color: black;
    font-size: 2.2rem;
    width: 40rem;
    font-weight: 900;
    margin-top: 7.5rem;
    letter-spacing: 1px;
    margin-bottom: 1.295rem; 
  }*/

  main section:nth-child(2) .rgt-cnt {
    margin-top: 4rem;
  }

  main section:nth-child(2) .rgt-cnt h2 {
    font-size: 1.5rem;
  }

  main #home .lft-cnt p:nth-child(2) {
    font-size: 1rem;
    max-width: 30rem;
  }
}
