* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/***************************/

/*** Set html and body ***/

html {
  font-size: 16px;
  }

body {
  font-family: 'Didact Gothic', sans-serif;
  color: black;
  font-weight: 300;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  margin: 0 auto;
  max-width: 100%;
  width: 960px;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 2rem 1rem;
  min-height: 100vh;
}

/***************************/

/*** Set header and nav ***/

header {
  display: flex;
  height: 4.6rem;
  justify-content: center;
  align-items: center;
  
}

header nav {
min-width: 60%;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}

header nav ul li {
  font-size: 0.875rem;
  margin: 0 5px;
}

a.nav {
  font-size: 0.875rem;
}

a.nav:hover {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

a.nav:link,
a.nav:visited {
  text-decoration: none;
  cursor: pointer;

  color: black;
}

a.nav:link:active,
a.nav:visited:active {
  color: black;
}

a.nav.active {
  font-weight: bold;  
}

/***************************/


/*** Set global main container styles ***/

main {
  display: flex;
  align-items: center;  
  flex-direction: column;
  flex:1;
}

main h1 {
  line-height: 1.9375rem;
  font-size: 1.5rem;
  color: #000000 ;
  text-align: center;
  padding-top: 1rem;
}

main p {
  font-size: 0.875rem;
}

/***************************************/

/*** Set home page styles ***/

main img {
  max-width: 100%;
  height: auto;
  margin-top: 2.4125rem;
}

/*** Set about page styles ***/

main #about {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

main #about img {
  max-width: 100%;
 height: 356px;
  margin-top: 2.4125rem;
}

main #about div {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

main #about div p {
margin-bottom: 1rem

}

/*****************************/

footer {
  display: flex;  
  justify-content:  center;
  margin-top: auto;
}

footer p {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

/*** SET DEFAULT HEADINGS ***/

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1.15rem;
}
h4 {
  font-size: 1.32rem;
}
h5 {
  font-size: 1.149rem;
}
h6 {
  font-size: 1rem;
}

/***************************/

/*** Media Queries ***/

/**************** 624px Media *******************/

@media (Max-width: 540px) {
main #about {
  flex-direction: column;
  align-items: center;
}

main #about div  {
  padding: 2rem 1rem 2rem 1rem ;
}

main #about img {
  display: flex;
  align-items: center;
}


}