body {
    font-family: Arial, sans-serif;
}

div {
    position: relative;
}

div img {
    width: 22px;
    position: absolute;
    top: 34px;
    left: 210px;
    cursor: pointer;
}

label {
    display: block;
    margin: 0 0 10px 0;
}

input {
    height: 30px;
    border: solid 2px lightgrey;
    border-radius: 4px;
    font-size: 16px;
    padding: 0 5px;
    width: 230px;
    line-height: 30px;
}

input:focus {
    outline: none;
}
