<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Show And Hide Input Password</title>
    <link rel="stylesheet" href="./css/swpw.css" type="text/css" />
</head>

<body>
    <div>
        <form>
            <img src="./images/eyeeye.png" alt="eye" width="22" />
            <label for="pw">Password</label>
        <input id="pw" name="pw" type="password" maxlength="20">
        </form>
    </div>
    <div id="lengthMeter">
    </div>
    <div id="strengthSpcMeter">
    </div>
    <script src="./js/swpw.js"></script>
</body>

</html>