* {
	box-sizing: border-box;
}

html {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
}

#tab-component {
	width: 600px;
}

#tab-container div {
	display: inline-block;
	min-width: 200px;
	text-align: left;
}

.tab {
	cursor: pointer;
	min-height: 44px;
	padding: 4px;
	background-color: hsla(206, 89%, 59%, 1);
}

.tab:nth-child(1), .tab:nth-child(2){
	border-right: solid white 1px;
}

.tab-content {
	display: none;
	min-height: 250px;
	padding: 10px; 
}

.visible {
	display: block;
}

.visible, .active, .tab-content {
	background-color: hsla(206, 89%, 59%, .8);
}